@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
* {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: rgba(0, 0, 0, 0.984);
}

/* Navbar*/
.nav {
  /* border: 2px solid white; */
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  margin: 10px;
}

.nav .title {
  color: white;
  text-align: center;
  font-size: 3rem;
}
/* Direction-Card */

.direction-card {
  width: 100%;
  height: 40vh;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* align-content: center; */
  justify-content: center;
}
.direction-card .heading {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
}
.direction-card ul li {
  text-align: center;
  font-size: 2rem;
  margin: 5px;
}

.controls {
  /* border: 2px solid white; */
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  margin: 20px 0;
}
.controls button {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px;
  font-size: 2rem;
}

.container {
  /* display: flex; */
  border: 1px solid white;
  align-items: center;
  width: 100vw;
  display: flex;
}
.left {
  /* border: 2px solid red; */
  width: 20%;
}
.grid {
  width: 20%;
  height: 500px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  margin: 0 100px;
}
.grid div {
  width: 10%;
  /* background-color: grey; */
  border: 1px dotted black;
}

.tet {
  background-color: yellow;
  border: 1px dotted black;
}
.freeze {
  background-color: none;
}

.next-tetro-grid {
  border: 2px solid white;
  width: 8%;
  height: 100px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
}
.next-tetro-grid div {
  width: 25%;
}

.bottom {
  background-color: brown;
}

@media (max-width: 1000px) {
  .direction-card .heading {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
  }
  .direction-card ul li {
    text-align: center;
    font-size: 1rem;
    margin: 5px;
  }
  .controls button {
    font-size: 1rem;
  }
}
