@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
* {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: rgba(0, 0, 0, 0.984);
  user-select: none;
}

/* Navbar*/
.nav {
  display: flex;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.nav .title {
  color: white;
  text-align: center;
  font-size: 3rem;
}
/* Direction-Card */

.direction-card {
  width: 100%;
  height: 40vh;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* align-content: center; */
  justify-content: center;
  
}
.direction-card .heading {
  text-align: center;
  font-size: 3rem;
  margin: 10px;
}
.direction-card ul li {
  text-align: center;
  list-style: none;
  font-size: 2rem;
  margin: 5px;
}

.controls {
  /* border: 2px solid white; */
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  margin: 20px 0;
}
.controls button,.restart-btn {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px;
  padding: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.container {
  position: relative;
  /* display: flex; */
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  width: 100vw;
  display: flex;
  /* justify-content: space-between; */
}
.left {
  /* border: 2px solid red; */
  width: 20%;

}
.grid {
  position: relative;
  left: -50px;
  width: 20%;
  height: 500px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  margin: 0 100px ;
}
.grid div, .gridCell {
  width: 10%;
  /* background-color: grey; */
  border: 1px dotted black;
}

.tet {
  /* background-color: yellow; */
  border: 1px solid black;
}
.freeze {
  background-color: none;
}
/* Game Over Screen */
.game-over {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.game-over h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}


.right {
  width: 8%;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.next-tetro-grid {
  border: 2px solid white;
  width: 100%;
  height: 100px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
}
.next-tetro-grid div {
  width: 25%;
  border: 1px dotted black;
}

.bottom {
  background-color: brown;
}

.right {
  /* border: 2px solid white; */
}
.next-tetro-grid {
  margin: 50px 0;
}

.score-card {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .direction-card .heading {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
  }
  .direction-card ul li {
    text-align: center;
    font-size: 1rem;
    margin: 5px;
  }
  .controls button {
    font-size: 1rem;
  }
}

@media (max-width: 500px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .left{
    display: flex;
    width: 100%;
    height:200px;
  }
  .controls{
    border: 1px solid white;
    margin: 0;
    height: 100%;
  }
  .direction-card{
    border: 1px solid white;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

  }
  #grid{
    order: 1;
  }
  .grid{
    left:0;
    width: 80%;
    margin:10px auto;
  }
  .right{
    margin: 5px;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    height: 100px;
  }
  .next-tetro-grid{
    width: 40%;
    margin:  40px;
  }
}

footer{
  display: flex;
  justify-content: space-between;
  height: 100px;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  margin: 10px 0 0 0;
}
footer ul{
  list-style: none;
  display: flex;
  padding: 5px;
  height: 100%;
  align-items: center;
  justify-content: center;

}
footer ul li{
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
}
footer ul li i{
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  padding: 10px;
  transition: 0.1s all ease;
}
footer ul li i:hover{
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(8px);
}

