
  .grid-heading {
    margin: 10px 10px 0 0;
    height: 70px;
    width: 70px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.3s ease all;
  }
  
  .grid-heading div {
    height: 10%;
    width: 10%;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    transition: 0.1s ease all;

  }
  .grid-heading div:hover{
  
    background-color: greenyellow;
  }
  .grid-heading-container{
    display: flex;
  }
  @media (max-width: 500px){
    .grid-heading {
      height: 50px;
      width: 50px;
    }

  }